* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* display: none; */
    margin: 0 auto;
}

/* .grid-show {
    display: flex;
} */

.play {
    border-radius: 10px;
    width: 150px;
    line-height: 80px;
    color: white;
    background-color: orange;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    display: block;
    margin-top: 50px;
}

/* .display-none {
    display: none;
} */

.cell {
    background-color: white;
    border: 1px solid rgb(81, 81, 81);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 100ms linear;
}

.cell:hover {
    background-color: rgb(205, 205, 205);
    transform: scale(105%);
}

.clicked {
    background-color: orange;
    color: white;

}

.clicked:hover {
    background-color: orange;
    transform: scale(100%);   
}

